@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
    }
    <div class="btn-group">
        <a class="btn btn-primary btn-sm" href="#"><i class="fa fa-user fa-fw"></i> &nbsp; @User.Identity.GetUserName()</a>
        <a class="btn btn-primary dropdown-toggle btn-sm" data-toggle="dropdown" href="#">
            <span class="fa fa-caret-down"></span>
        </a>
        <ul class="dropdown-menu text-left pull-right">
            <li><a href="#">Профиль</a></li>
            <li><a href="#">История заказов</a></li>
            @if (User.IsInRole("Administrator"))
            {
                <li class="divider"></li>
                <li>
                    @Html.ActionLink("Заказы", "Manage", "Order")
                </li>
                <li class="divider"></li>
                <li>
                    @Html.ActionLink("Категории", "Manage", "Category")
                </li>
                <li>
                    @Html.ActionLink("Характеристики", "Manage", "Characteristic")
                </li>
                <li>
                    @Html.ActionLink("Опции", "Manage", "Option")
                </li>
                <li>
                    @Html.ActionLink("Производители", "Manage", "Brand")
                </li>
                <li class="divider"></li>
                <li>
                    @Html.ActionLink("Товары", "Manage", "Product")
                </li>
                <li>
                    @Html.ActionLink("Цвета", "Manage", "Color")
                </li>
            }
            <li class="divider"></li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()"> <span class="glyphicon glyphicon-log-out"></span> Выйти</a></li>
        </ul>
    </div>
}
else
{
    <a href="@Url.Action("Login", "Account")" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-log-in"></span> &nbsp; Вход в интернет-магазин</a>
}
