@model IEnumerable<TheStore.Web.Domain.Brand>

@{
    ViewBag.Title = "Управление производителями";
}

<h2>Производители</h2>
<hr />
<p>
    <a href="@Url.Action("New", "Brand")"><span class="glyphicon glyphicon-plus-sign"></span> Добавить производителя</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Название</th>
            <th>URL</th>
            <th>Описание</th>
            <th class="text-center">Редактировать / Удалить</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var brand in @Model)
        {
            <tr>
                <td>@brand.BrandId</td>
                <td>@brand.Name</td>
                <td>@brand.BrandUrl</td>
                <td>@brand.Description</td>
                <td class="text-center">
                    <a class='btn btn-info btn-sm' href="@Url.Action("Edit", "Brand", new { id = brand.BrandId })"><span class="glyphicon glyphicon-edit"></span> Редактировать</a>
                    <a href="@Url.Action("Delete", "Brand", new { id = brand.BrandId })" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span> Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
